<header class="flex flex-row pb-6 justify-between items-center">
  <a href="./index.html"
    ><img src="./src/assets/shared/logo.svg" alt="Logo" class="w-10"
  /></a>
  <nav class="md:hidden">
    <img
      id="open-menu"
      src="./src/assets/shared/icon-hamburger.svg"
      alt="Menu"
      class="w-6 cursor-pointer"
    />
  </nav>

  <nav class="hidden md:flex md:flex-row md:items-center md:gap-7 md:bg-transparent md:backdrop-blur-lg md:py-6 md:px-10 lg:w-1/2">
    <a href="./index.html" class="text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer">
      <span class="font-bold tracking-[2.7px]">00</span> HOME
    </a>
    <a href="./destination.html" class="text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer">
      <span class="font-bold tracking-[2.7px]">01</span> DESTINATION
    </a>
    <a href="./crew.html" class="text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer">
      <span class="font-bold tracking-[2.7px]">02</span> CREW
    </a>
    <a href="./technology.html" class="text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer">
      <span class="font-bold tracking-[2.7px]">03</span> TECHNOLOGY
    </a>
  </nav>
</header>
