<div
  id="mobile-menu"
  class="fixed top-0 right-0 w-[70vw] h-screen bg-transparent backdrop-blur-lg transform translate-x-full transition-all duration-600 ease-[cubic-bezier(0.25,0.1,0.25,1)] z-50 overflow-hidden"
>
  <div class="flex flex-col h-full gap-12">
    <div class="flex flex-row-reverse justify-between items-center p-6">
      <img
        id="close-menu"
        src="./src/assets/shared/icon-close.svg"
        alt=""
        class="cursor-pointer w-6 mt-2"
      />
    </div>
    <div class="flex flex-col pl-7 gap-7">
      <a
        href="./index.html"
        class="relative text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointerp"
      >
        <span class="font-bold tracking-[2.7px]">00</span> HOME
      </a>
      <a
        href="./destination.html"
        class="relative text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer"
      >
        <span class="font-bold tracking-[2.7px]">01</span> DESTINATION
      </a>
      <a
        href="./crew.html"
        class="relative text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer"
      >
        <span class="font-bold tracking-[2.7px]">02</span> CREW
      </a>
      <a
        href="./technology.html"
        class="relative text-white font-barlow-condensed text-base leading-normal tracking-[2px] cursor-pointer"
      >
        <span class="font-bold tracking-[2.7px]">03</span> TECHNOLOGY
      </a>
    </div>
  </div>
</div>
